<a href="https://colab.research.google.com/github/gangajangale/FlaskExe/blob/main/sqlalchemyInsertDataInTable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

ins = students.insert()
ins = students.insert().values(name = 'Ravi', lastname = 'Kapoor')
conn = engine.connect()
result = conn.execute(ins)

2022-02-28 09:45:42,498 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2022-02-28 09:45:42,499 INFO sqlalchemy.engine.Engine [generated in 0.00188s] ('Ravi', 'Kapoor')
2022-02-28 09:45:42,503 INFO sqlalchemy.engine.Engine COMMIT